body, ul, p, h1, h2 h3 {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "MontserratLight";
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: "MontserratRegular";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "MontserratMedium";
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Arsenal";
    src: url("../fonts/Arsenal-Regular.ttf");
}

:root {
    --primary-text-color: #FF8008;
    --primary-color: linear-gradient(#FF8008 100%, #FFC837 100%, #FFFFFF 100%, #FFC837 100%);
    --main-bg-gradient: linear-gradient(89.93deg, #FF8008 -65.4%, #FFC837 99.88%, rgba(255, 255, 255, 0) 99.88%, #FFC837 99.88%);
    --main-bg-filter: drop-shadow(0px 0px 9px rgba(131, 131, 131, 0.3));
    --main-light-grey: #E1E1E1;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.d-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.text-default {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9em;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.position-alignment-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav__menu {
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
    width: 100%;
    z-index: 555;
    transition: all .5s ease-in-out;
}

.menu__logo {
    width: 50px;
    height: 50px;
}

.menu__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.menu {
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 15px;
    flex: auto;
}

.mobile__menu__icon {
    cursor: pointer;
}

.menu__container.active {
    display: flex;
}

.menu__container {
    display: flex;
    flex: auto;
}

.menu__item {
    color: #000000;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
}

.menu__item.active,
.section__portfolio__filter > .active > a {
    text-decoration: underline;
}

.menu__item.active,
.menu__item:hover,
.section__portfolio__filter > .active > a,
.section__portfolio__filter > li:hover a {
    color: #FFC837;
}

.menu > li:not(:last-child) {
    padding-right: 30px;
}

.menu__lang {
    position: relative;
    text-align: left;
}

.menu__lang:hover > .menu__lang__list {
    display: block;
}

.menu__lang__selected, .lang__list__item {
    font-size: 15px;
    line-height: 25px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.menu__lang__selected:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 45%;
    left: 40px;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #000000 transparent transparent transparent;
}

.menu__lang__list {
    display: none;
    width: 100px;
    margin-bottom: 0;
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    position: absolute;
    left: -50px;
    top: 27px;
}

.lang__list__item {
    display: inline-block;
    padding: 5px 0;
    width: 100%;
}

.lang__list__item:hover {
    background-color: #EDEDED;
}

.mobile__menu__icon {
    display: none;
}

.menu__container .menu__lang__list {
    left: 0;
}

.menu__container.active > .menu__lang {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
}

.container {
    padding-top: 50px;
    padding-bottom: 100px;
}

.row.section {
    margin-top: 100px;
}

.top__section-right {
    display: flex;
    align-items: end;
    justify-content: end;
}

.top__section-right__buttons {
    width: 167px;
    position: fixed;
    bottom: 5%;
    right: 30px;
    z-index: 7;
}

.hexagon__shadow:hover > .hexagon__button:before {
    background: var(--main-bg-gradient);
}

.hexagon__shadow {
    transition: all .15s ease-in-out;
    filter: drop-shadow(0 0 3px rgba(131, 131, 131, 0.3));
}

.hexagon__shadow:not(.send-contact__input):hover {
    filter: drop-shadow(0px 0px 4px rgba(131, 131, 131, 0.8));
}

.hexagon__button.start-project, .hexagon__button.telegram {
    width: 100%;
    height: 48px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    line-height: 48px;
}

.hexagon__button.telegram {
    margin-bottom: 27px;
}

.hexagon__button.telegram:after {
    content: url("../images/icons/telegram-icon.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
}

/*.logo__container {*/
/*    text-align: center;*/
/*    max-width: 460px;*/
/*}*/

/*.logo__container__main {*/
/*    width: 132px;*/
/*    height: 139px;*/
/*}*/

/*.top__section-left {*/
/*    padding-top: 100px;*/
/*}*/

.main__title {
    font-family: MontserratRegular, sans-serif;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 0;
    max-width: 440px;
    color: #ffffff;
}

.main__brand__name {
    font-family: MontserratBold, sans-serif;
    font-size: 45px;
    color: #FFC837;
    text-transform: uppercase;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main__description {
    max-width: 495px;
    font-family: MontserratRegular, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 0;
    color: #ffffff;
}

.box__send-contact {
    width: calc(100% - 25px);
    max-width: 520px;
    height: 63px;
    margin-top: 50px;
    box-sizing: border-box;
    position: relative;
}

.box__send-contact__input {
    width: 100%;
    height: 100%;
    font-family: MontserratRegular, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 15px;
    color: #000000;
    flex: auto;
    border: none;
    outline: none;
    padding-left: 20px;

    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25px 100%, 0% 50%, 25px 0%);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25px 100%, 0% 50%, 25px 0%);
}

.box__send-contact__input::placeholder {
    color: rgba(0, 0, 0, 0.3);
    opacity: 1; /* Firefox */
}

.box__send-contact__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.3);
}

.box__send-contact__input::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.3);
}

.box__send-contact__btn {
    width: 100%;
    height: 100%;
    border: none;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    background: var(--main-bg-gradient);
    filter: var(--main-bg-filter);
    -webkit-clip-path: polygon(105px 0%, 100% 50%, 105px 100%, 0% 100%, 0% 0%, 0% 0%);
    clip-path: polygon(105px 0%, 100% 50%, 105px 100%, 0% 100%, 0% 0%, 0% 0%);
}

.hexagon__shadow.send-contact {
    flex-basis: 130px;
    margin-right: -25px;
}

.send-contact__input {
    flex: auto;
}

.top__video__close {
    display: none;
    padding: 0 20px;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: 80px;
    right: 30px;
    z-index: 557;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.top__video {
    width: 100%;
    cursor: pointer;
    transition: all 1.5s ease-in-out;

    -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 50%, 10% 0%);
    clip-path: polygon(100% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 50%, 10% 0%);
}

.full__screen.active > .top__video {
    height: 100%;
    -webkit-clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 60%, 0% 0%);
}

.full__screen {
    position: absolute;
    top: 44px;
    right: 0;
    z-index: 5;
    filter: url(#round);
    transition-duration: 1.2s;
}

.full__screen.active {
    max-width: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    filter: inherit;
    z-index: 556;
}

.section__title {
    margin-bottom: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.section__header {
    text-align: center;
}

#services, #plans, #contacts {
    padding-top: 50px;
}

.section__services {
    margin-top: 50px !important;
}

.service__default__content {
    position: relative;
}

.section__services__item {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 531px;
    background: #FFFFFF;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
    transition: all 1.5s ease;
    position: relative;
}

.section__services__item-default {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*transition: all .3 ease-in-out;*/
}

.section__services__item-turned {
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    position: absolute;
    z-index: -1;
    background: #ffff;
    opacity: 0;
    top: 0;
    transition: all .5s ease-in-out;
    text-align: center;
}

.section__services__item.active > .section__services__item-default {
    padding: 20px 0;
}

.section__services__item.active > .section__services__item-turned {
    z-index: 2;
    opacity: 1;
    transition: all 1.5s ease-in-out;
}

.section__service__list {
    padding-left: 0;
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

.section__services__item__title {
    margin-bottom: 60px;
    color: var(--primary-text-color);
    font-size: 30px;
    line-height: 37px;
    text-align: center;
}

.section__service__list__item {
    font-family: "Arsenal", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #3C3C3C;
    text-decoration: none;
}

.section__service__list__item:hover {
    color: #3C3C3C;
    text-decoration: underline;
}

.section__services__item:hover .service__hexagon__title {
    color: #FFC523;
}

.section__services__item:hover .service__hexagon__icon.hover {
    display: block;
}

.section__services__item:hover .default,
.service__hexagon__icon.hover {
    display: none;
}

.section__services__item:hover .service__hexagon {
    background: var(--main-bg-gradient);
    transform: rotate(90deg);
}

.service__hexagon {
    height: 180px;
    width: 150px;
    margin: 0 auto;
    position: relative;
    background: #E0E0E0;
    transition: all .3s ease-out;

    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.service__hexagon:before {
    position: absolute;
    content: '';
    background: white;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.service__hexagon:before {
    top: 4px; /* border width */
    left: 4px; /* border width */
    height: calc(100% - 8px); /* 100% - (2 * border width) */
    width: calc(100% - 8px); /* 100% - (2 * border width) */
}

.service__hexagon__title {
    margin-top: 63px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.section__title__line {
    width: 100%;
    max-width: 320px;
}

.section__services__item-default > .service__hexagon {
    margin: 0 auto;
}

.service__hexagon__icon {
    position: absolute;
    width: 61px;
    height: 61px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.section__services__container {
    justify-content: space-around;
}

.section__services__container > div {
    position: relative;
}

.section__description {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.section__portfolio {
    margin-top: 30px !important;
    text-align: center;
}

.section__portfolio__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 0 !important;
}

.section__portfolio__filter a {
    font-family: Montserrat, sans-serif;
    font-size: 1.4em;
    line-height: 45px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4B4B4B;
}

.section__portfolio__filter a:hover {
    color: #4B4B4B;
}

.section__portfolio__filter > li {
    height: 38px;
}

.section__portfolio__filter > li:not(:last-child) {
    margin-right: 15px;
}

.portfolio {
    height: 300px;
    max-width: 415px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.portfolio:hover > .portfolio__about {
    display: flex;
}

.portfolio__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__about {
    display: none;
    width: calc(100% - 24px);
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF !important;
    overflow: hidden;
    text-decoration: none;
}

.portfolio__about__title {
    font-size: 30px;
    line-height: 56px;
}

.portfolio__about__subtitle {
    font-size: 1.2em;
    line-height: 31px;
}

.portfolio__about__icon {
    width: 95px;
    margin-top: 20px;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.hexagon__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 55px;
    margin: 0 auto;
    border: none;
    position: relative;
    -webkit-clip-path: polygon(89% 4%, 99% 49%, 89% 96%, 11% 96%, 1% 50%, 11% 4%);
    clip-path: polygon(89% 4%, 99% 49%, 89% 96%, 11% 96%, 1% 50%, 11% 4%);
    color: #000000;
}

.additional-action {
    display: inline-block;
    margin-top: 20px;
}

.additional-action > button {
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}

.section__pricing {
    text-align: center;
}

.section__pricing__plan {
    box-shadow: 0 0 10px rgba(174, 174, 174, 0.28);
    padding-bottom: 70px;
    cursor: pointer;
    max-width: 500px;
    margin: 0 auto;
}

.section__pricing__plan:hover button.hexagon__transparent:before {
    background: var(--main-bg-gradient);
}

.section__pricing__plan:hover .hexagon__button {
    color: #000000;
}

.section__pricing__plan:hover {
    box-shadow: 0 0 9px 2px rgba(255, 193, 51, 0.3);
}

.section__pricing {
    margin-top: 50px !important;
}

.section__pricing__plan__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 165px;
    background-color: #F0F0F0;
    text-align: center;
    font-family: "MontserratSemiBold", sans-serif;
    font-weight: 500;
    line-height: 55px;
    font-size: 2em;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    position: relative;
}

.section__pricing__plan__footer {
    display: block;
}

.section__pricing__plan__content {
    margin: 100px 0 40px;
    padding: 0 20px;
}

.section__pricing__offer {
    position: relative;
    padding-left: 10px;
    margin-bottom: 21px;
    text-align: left;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
}

.section__pricing__offer:before {
    content: url("../images/icons/mark.svg");
    height: 27px;
    position: absolute;
    left: -30px;
    top: 0;
}

.section__pricing__item {
    margin-bottom: 20px;
}

.section__pricing__offer p, .section__pricing__offers {
    margin: 0;
}

.section__pricing__offers {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.section__pricing__offers::-webkit-scrollbar {
    width: 4px;
}

.section__pricing__offers::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.section__pricing__offers::-webkit-scrollbar-thumb {
    background: #d8d6d6;
    border-radius: 5px;
}

.section__pricing__offers::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hexagon__transparent:before {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    background-color: #ffffff;
    z-index: -1;

    -webkit-clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%, 10% 0%);
}

.section__pricing__price {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 0;
    color: #E3A905;
}

.submit__plan {
    width: 230px;
    margin-bottom: 10px;
    font-family: Arsenal, sans-serif;
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    line-height: 33px;
    color: var(--primary-text-color);
}

.section__pricing__hexagon {
    position: absolute;
    bottom: -50px;
}

.section__pricing__hexagon > .service__hexagon {
    width: 90px;
    height: 100px;
    background: #FFC233;
    box-shadow: 0 0 60px rgba(131, 131, 131, 0.3);
    transform: rotate(180deg);
}

.section__pricing__hexagon > .service__hexagon:before {
    content: inherit;
}

.section__partners {
    position: relative;
    margin-top: 85px !important;
}

.slick-slide {
    margin: 0 10px;
}

.section__project__slide > .slick-arrow,
.modal__slider > .slick-arrow,
.section__partners > .slick-arrow {
    display: inline-block;
    z-index: 55;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid var(--primary-text-color);
    color: transparent;
    font-size: 0;
    background: no-repeat url("../images/icons/arrow-orange.svg");
    background-position: 50%;
    position: absolute;
    top: 50%;
}

.section__partners > .slick-arrow:hover {
    background: no-repeat url("../images/icons/arrow-white.svg"), linear-gradient(89.93deg, #FF8008 -65.4%, #FFC837 99.88%, rgba(255, 255, 255, 0) 99.88%, #FFC837 99.88%);
    border: none;
    background-position: 50%;
    transform: translateX(-50%) !important;
}

.section__partners > .slick-next {
    transform: translateX(-50%) rotate(180deg) !important;
}

.section__partners > .slick-prev:hover {
    transform: translateX(-50%) rotate(180deg) !important;
}

.section__partners > .slick-next,
.section__partners > .slick-prev {
    display: none !important;
}

.section__partners__slide .slick-slide img {
    filter: grayscale(100%);
    width: 100%;
    max-width: 130px;
    margin: 0 auto;
    object-fit: contain;
}

.section__partners__slide .slick-slide:hover img {
    filter: grayscale(0);
}

/* Slick slider */
.section__partners > .hexagon__shadow > .slick-prev, .section__partners > .hexagon__shadow > .slick-next {
    border: none;
    -webkit-clip-path: polygon(55px 0%, 100% 50%, 55px 100%, 15px 100%, 0% 50%, 15px 0%);
    clip-path: polygon(55px 0%, 100% 50%, 55px 100%, 15px 100%, 0% 50%, 15px 0%);
    width: 70px;
    height: 70px;
    background-size: 100%;
}


.section__partners > .hexagon__shadow,
.section__partners > .slick-arrow {
    position: absolute;
    bottom: -100px;
    transform: translateX(-50%);
    top: inherit;
}

.section__partners > .hexagon__shadow:hover > .hexagon__button:before {
    background-color: transparent;
}

.section__partners > .hexagon__shadow.prev,
.section__partners > .slick-prev {
    left: calc(50% - 50px);
}

.section__partners > .hexagon__shadow.next,
.section__partners > .slick-next {
    left: calc(50% + 50px);
}

.section__partners > .hexagon__shadow > .slick-prev:after {
    content: url("../images/icons/arrow-left.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section__partners > .hexagon__shadow > .slick-next:after {
    content: url("../images/icons/arrow-right.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section__partners .slick-prev:before, .section__partners .slick-next:before {
    -webkit-clip-path: polygon(56px 0px, 70px 35px, 60px 70px, 12px 70px, 0px 35px, 0px 0px);
    clip-path: polygon(56px 0px, 70px 35px, 60px 70px, 12px 70px, 0px 35px, 0px 0px);
}

.slick-track {
    display: inline-flex !important;
    align-items: center;
}

/* Footer */
.footer {
    width: 100%;
    background: #000000;
    margin-top: 80px;
    position: relative;
    z-index: 8;
    overflow: hidden;
}

.footer__content {
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}

.footer__logo__icon {
    width: 150px;
    height: 170px;
}

.footer__logo {
    text-align: center;
}

.footer__block__title {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer__block__list__item {
    margin-bottom: 18px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    position: relative;
}

.footer__block__list__item > a {
    color: #ffffff;
    text-decoration: none;
}

.footer__block__list__item > a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footer__services > .footer__block__list__item:before {
    content: url("../images/icons/list-style-type-hexagon.svg");
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    text-align: center;
}

.footer__services > .footer__block__list__item {
    padding-left: 25px;
}

.contacts > .footer__block__list__item {
    padding-left: 40px;
}

.footer__block__list__item.phone__number:before,
.footer__block__list__item.location:before,
.footer__block__list__item.mail:before {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    text-align: center;
}

.footer__block__list__item.phone__number:before {
    content: url("../images/icons/phone-icon.svg");
}

.footer__block__list__item.location:before {
    content: url("../images/icons/location-icon.svg");
}

.footer__block__list__item.mail:before {
    content: url("../images/icons/mail-icon.svg");
}

.footer__block {
    flex-basis: 100%;
}

.contacts > .footer__block__list__item {
    text-transform: inherit;
    letter-spacing: inherit;
}

.footer__block:not(:last-child) {
    margin-right: 15px;
}

.footer__copy-right {
    background: #191B1D;
    text-align: center;
    font-family: "Arsenal", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #545454;
    height: 43px;
    line-height: 43px;
    letter-spacing: 0.04em;
    margin-bottom: 0;
}

.footer__social {
    display: flex;
    padding-left: 0;
}

.footer__social > .footer__block__list__item > a {
    display: inline-block;
    width: 60px;
    height: 60px;
    transition: all .3s ease-in-out;
}

.footer__social > .footer__block__list__item:not(:last-child) {
    margin-right: 15px;
}

.footer__social > .footer__block__list__item > a.instagram {
    background: no-repeat url("../images/icons/social-sprite.png") 0 0;
}

.footer__social > .footer__block__list__item > a.facebook {
    background: no-repeat url("../images/icons/social-sprite.png") -64px 0;
}

.footer__social > .footer__block__list__item > a.linkedin {
    background: no-repeat url("../images/icons/social-sprite.png") -126px 0;
}

.footer__social > .footer__block__list__item > a.telegram {
    background: no-repeat url("../images/icons/social-sprite.png") -190px 0;
}

.footer__social > .footer__block__list__item > a.googleplus {
    background: no-repeat url("../images/icons/social-sprite.png") -252px 0;
}

.footer__social > .footer__block__list__item > a:hover {
    background-position-y: -79px;
}

.create__plan__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1088px;
    width: 100%;
    padding: 50px 25px;

    background: #FFFFFF;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
}

.create__plan__row .hexagon__button:before {
    background: var(--main-bg-gradient);
}

.create__plan__row__text {
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 0;
    margin-right: 20px;
}

.create__plan__row > .additional-action {
    margin-top: 0;
}

.hexagon__link {
    color: #000000;
    text-decoration: none;
}

.hexagon__link:hover {
    color: #000000;
}

.full__screen.active .over-layer {
    display: none;
}

.over-layer {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
    width: 100%;
    height: 85%;
    background: transparent;
    border-radius: 20%;
}

#congratulations .close-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 24px;
    z-index: 55;
    border: 0;
    background-color: transparent;
}

#congratulations .modal-dialog {
    max-width: inherit;
    width: 80%;
}

.congratulations.modal-body {
    padding: 5%;
    align-items: center;
}

.cong__form__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 15px;
}

.cong__form {
    flex-direction: column;
    flex-basis: 360px;
    margin-left: 4%;
}

.input-default-rounded {
    height: 50px;
    background-color: #FFFFFF;
    border: 2px solid #B6B6B6;
    box-sizing: border-box;
    border-radius: 36px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.cong__text {
    text-align: center;
    flex-basis: 50%;
    margin-right: 4%;
}

.cong__text > * {
    margin-bottom: 20px;
}

.cong__text__title {
    color: #000000;
    font-size: 30px;
    line-height: 37px;
}

.cong__form__send {
    margin-top: 15px;
}

.footer__block__list {
    padding-left: 0;
}

.popup__title {
    font-size: 30px;
}

#createPlan > .modal-dialog {
    max-width: inherit;
    width: 90%;
}

.create__plan__modal {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 33%;
}

.modal__service__item {
    flex-basis: 33%;
    margin-bottom: 25px;
    text-align: center;
    position: relative;
}

.modal__service__item > .active > .hexagon__button {
    clip-path: none;
    background: #ffff;
    color: #000000;
}

.modal__service__item > .hexagon__shadow {
    display: inline-block;
    filter: drop-shadow(0px 3px 3px rgba(131, 131, 131, 0.3));
}

.modal__service__item > .hexagon__shadow:not(.active):hover .hexagon__button {
    color: white;
}

.modal__service__icon {
    width: 30px;
    margin-right: 15px;
}

.modal__service__item > .hexagon__shadow {
    width: 100%;
    max-width: 405px;
    height: 98px;
}

.service__options__count {
    width: 40px;
    height: 41px;
    line-height: 41px;
    display: inline-block;
    background: no-repeat url("../images/icons/hexagon-small-white.svg");
    background-size: cover;
    color: #FFA722;
    position: absolute;
    z-index: 1;
    top: -20px;
    right: 60px;
}

.create__plan__modal .hexagon__button {
    width: 100%;
    height: 100%;
    font-size: 22px;
}

.createPlan {
    padding-top: 80px !important;
}

.createPlan__submit > .hexagon__button {
    background: var(--main-bg-gradient);
    margin-top: 110px;
    font-size: 24px;
}

.modal__service__item > .active {
    width: 500px;
    height: inherit;
    max-width: inherit;
    padding: 15px 60px;
    background: #ffff;
    position: absolute;
    z-index: 11;
    left: 0;
}

.service__options__close {
    display: inline-block;
    width: 15px;
    font-size: 22px;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 13px;
    cursor: pointer;
}

.active > .create__plan__option,
.active > .service__options__close {
    display: block;
}

.active > .service__options__count,
.service__options__close {
    display: none;
}

.create__plan__option {
    display: none;
    margin-top: 60px;
    text-align: left;
}

.create__plan__option > li {
    margin-bottom: 20px;
}

.create__plan__option li.active > .section__service__list__item {
    color: #FFC837;
}

.create__plan__option .section__service__list__item:hover {
    text-decoration: none;
}

.create__plan__sub-options {
    display: none;
}

.create__plan__option li.active > .create__plan__sub-options {
    display: block;
}

.counter__btn {
    width: 22px;
    height: 22px;
    line-height: 19px;
    text-align: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../images/icons/hexagon-counter-passive.svg");
    background-size: cover;
}

.service__options__counter {
    flex-direction: row;
    margin-left: 15px;
}

.service__selected__option.active .counter__btn {
    background-image: url("../images/icons/hexagon-counter-active.svg");
}

.decrease__count {
    margin-right: 15px;
}

.increase__count {
    margin-left: 15px;
}

.section__load__additional {
    display: none;
    font-size: 23px;
    margin-top: 10px !important;
    margin-bottom: 60px;
}

.opened {
    height: inherit !important;
}

.read__more__desc {
    font-size: 13px;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

input[type='checkbox']:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #000000;
}

input[type='checkbox']:checked {
    content: url("../images/icons/checked-icon.svg");
}

.close-service {
    display: none;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    font-family: 'MontserratRegular', sans-serif;
    cursor: pointer;
}

.mobile__menu__icon-close {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.nav__menu.opened_menu {
    background: #ffffff !important;
}

.opened_menu > .mobile__menu__icon {
    display: none;
}

.opened_menu > .mobile__menu__icon-close {
    display: block;
}

.home__bg__slider-item {
    object-fit: cover;
    margin: 0;
}

#first_section {
    align-items: center;
    height: 100vh;
}

#services.row.section {
    margin-top: 50px;
}

.home__bg__slider__container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
}

.home__bg__slider, .slick-list, .home__bg__slider-item, .slick-track {
    height: 100%;
    width: 100%;
}