@media screen and (min-width: 1140px) {
    .section__pricing__plan__header {
        font-size: 2.8em;
    }

    .section__pricing__plan__footer {
        display: flex;
    }

    .submit__plan {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .top__section-right {
        display: block;
    }

    .top__section-right__buttons {
        width: 100%;
        margin-top: 27px;
    }

    .section__portfolio__filter {
        flex-wrap: wrap;
    }

    .footer__content {
        justify-content: flex-start;
    }

    .menu, .mobile__menu {
        display: none;
    }

    .mobile__menu__icon {
        display: block;
    }

    .page__description__hexagon {
        height: 130px;
        font-size: 14px;
    }

    .top__section-right__buttons {
        position: inherit;
    }

    .create__plan__row {
        flex-direction: column;
    }

    .create__plan__row__text {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .blog__video {
        min-height: 303px;
    }

    .section__project {
        align-items: center;
    }

    .section__project__slide {
        width: 100%;
        margin-right: 0;
    }

    .project__right__slide {
        flex-direction: row;
        margin-top: 20px;
    }

    .project__right__slide > li {
        margin-right: 5px;
    }

    .section__footer, .about__project__header, .section__project {
        flex-direction: column;
    }

    .section__footer__text {
        margin-bottom: 20px;
    }

    .about__project__subtitle {
        text-align: center;
        margin-bottom: 20px;
    }

    .project-inner__about {
        text-align: center;
    }

    .project__name {
        font-size: 25px;
    }

    .project-inner__desc > .section__description {
        font-size: 15px;
    }

    .project-inner__desc > .about__project__subtitle {
        font-size: 20px;
    }

    .project-inner__desc {
        margin-top: 20px;
    }
}

@media screen and (max-width: 992px) {
    .footer__content {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .footer__block {
        flex-basis: 50%;
    }

    .footer__block__title {
        margin: 20px 0;
    }

    .footer__social {
        justify-content: center;
    }

    .nav__menu {
        padding: 0 60px;
    }

    .blog__main__video {
        padding-right: 0;
        padding-bottom: 20px;
    }

    .section__blog__header-left {
        padding-left: 0;
        padding-top: 20px;
    }

    .section {
        margin-top: 100px !important;
    }
}

@media screen and (max-width: 576px) {
    .section__project__slide > .slick-arrow {
        width: 35px;
        height: 35px;
    }
}
