@media screen and (min-width: 1140px) {
    .section__pricing__plan__header {
        font-size: 2.8em;
    }

    .section__pricing__plan__footer {
        display: flex;
    }

    .submit__plan {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1024px) {
    .main__title {
        font-size: 43px;
    }

    .section__description {
        font-size: 18px;
    }

    .section__title, .portfolio__about__title {
        font-size: 25px;
    }

    .portfolio__about__subtitle {
        font-size: 13px;
    }

    .section__portfolio__filter a {
        font-size: 20px;
    }


    .section__services__item-default {
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding: 0 10px;
    }

    .service__hexagon__title {
        margin-top: 0;
        flex-basis: 50%;
        font-size: 20px;
    }

    .section__services__item {
        height: 211px;
    }

    .service__hexagon {
        height: 140px;
        width: 120px;
        margin: 0 auto;
    }

    .service__hexagon__icon {
        width: 37px;
        height: 37px;
        top: 48%;
    }

    .service__default__content {
        flex-basis: 50%
    }

    .footer__block__service {
        display: none;
    }

    .footer__block {
        margin-right: 0;
    }

    .footer__block__list__item {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 992px) {
    .full__screen {
        width: 500px;
        height: 460px;
    }

    .top__video {
        height: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .full__screen {
        width: 750px;
        height: 650px;
    }
}

@media screen and (max-width: 768px) {
    .top__section-right {
        display: block;
    }

    .top__section-right__buttons {
        width: auto;
        margin-top: 27px;
        bottom: 5px;
        right: 10px;
    }

    .section__portfolio__filter {
        flex-wrap: wrap;
    }

    .footer__content {
        justify-content: flex-start;
    }

    .menu, .mobile__menu {
        display: none;
    }

    .mobile__menu__icon {
        display: block;
    }

    .page__description__hexagon {
        height: 130px;
        font-size: 14px;
        position: absolute;
    }

    .top__section-right__buttons .hexagon__button {
        width: 52px;
        height: 52px;
        clip-path: polygon(40px 4%, 99% 49%, 40px 96%, 12px 96%, 1% 50%, 12px 4%);
        font-size: 13px;
    }

    .create__plan__row {
        flex-direction: column;
    }

    .create__plan__row__text {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .blog__video {
        min-height: 303px;
    }

    .section__project {
        align-items: center;
    }

    .section__project__slide {
        width: 100%;
        margin-right: 0;
    }

    .project__right__slide {
        flex-direction: row;
        margin-top: 20px;
    }

    .project__right__slide > li {
        margin-right: 5px;
    }

    .section__footer, .about__project__header, .section__project {
        flex-direction: column;
    }

    .section__footer__text {
        margin-bottom: 20px;
    }

    .about__project__subtitle {
        text-align: center;
        margin-bottom: 20px;
    }

    .project-inner__about {
        text-align: center;
    }

    .project__name {
        font-size: 25px;
    }

    .project-inner__desc > .section__description {
        font-size: 15px;
    }

    .project-inner__desc > .about__project__subtitle {
        font-size: 20px;
    }

    .project-inner__desc {
        margin-top: 20px;
    }

    .portfolio {
        height: 210px;
    }

    .portfolio__image {
        height: 100%;
    }

    .footer__block__title {
        font-size: 25px;
    }

    .top__section-right__buttons .hexagon__button:before {
        background: var(--main-bg-gradient);
    }

    .section__partners .hexagon__shadow {
        display: none !important;
    }

    .section__partners > .slick-next,
    .section__partners > .slick-prev {
        display: inherit !important;
    }

    .section__portfolio__filter {
        display: none !important;
    }

    .page__description__left {
        height: 200px;
        width: 60% !important;
        position: relative;
        margin: 0 auto;
    }

    .hx-0 {
        left: 10px;
        top: -100px;
    }

    .hx-1 {
        left: 114px;
        top: -160px;
    }

    .hx-2 {
        left: 216px;
        top: -97px;
    }

    .hx-3 {
        top: -37px;
        left: 113px;
    }

    .hx-4 {
        top: 23px;
        left: 11px;
    }
}

@media screen and (max-width: 876px) {
    #congratulations .modal-dialog {
        width: 90%;
        margin: 0 auto;
    }

    .congratulations.modal-body {
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .footer__content {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .footer__block {
        flex-basis: 50%;
        margin-right: 0 !important;
    }

    .footer__block__title {
        margin: 20px 0;
    }

    .footer__social {
        justify-content: center;
    }

    .nav__menu {
        padding: 0 60px;
    }

    .blog__main__video {
        padding-right: 0;
        padding-bottom: 20px;
    }

    .section__blog__header-left {
        padding-left: 0;
        padding-top: 20px;
    }

    .section {
        margin-top: 100px !important;
    }

    .video__container, .logo__container {
        display: none;
    }

    .main__title, .main__description {
        max-width: inherit;
    }

    .box__send-contact {
        max-width: 450px;
        /*width: 100%;*/
        /* margin: 70px auto; */
    }

    .section__pricing__offers {
        height: 250px;
    }

    .section__pricing__plan__header {
        font-size: 28px;
        height: 124px;
    }

    .section__pricing__plan__content {
        margin: 80px 0 40px;
    }

    .section__pricing__hexagon {
        bottom: -36px;
    }

    .section__pricing__hexagon > .service__hexagon {
        width: 70px;
        height: 75px;
    }

    .create__plan__row__text {
        font-size: 20px;
    }

    .footer__logo__icon {
        width: 100px;
        height: 100px;
    }

    .top__section-left {
        background: no-repeat url('../images/main__bg__image.png');
        background-size: cover;
        padding-bottom: 50px;
        color: #ffffff;
    }

    .about__project__subtitle {
        font-size: 20px;
    }

    .project__name {
        font-size: 25px;
    }
}

/*mobile*/
@media screen and (max-width: 576px) {
    .section__project__slide > .slick-arrow {
        width: 35px;
        height: 35px;
    }

    .cong__text__title {
        font-size: 20px;
    }

    #congratulations .close-modal {
        top: 10px;
    }

    .box__send-contact__input {
        font-size: 12px;
    }

    .box__send-contact__btn {
        font-size: 13px;
        clip-path: polygon(45px 0%, 100% 50%, 45px 100%, 0% 100%, 0% 0%, 0% 0%);
    }

    .hexagon__shadow.send-contact {
        flex-basis: 65px;
    }

    .box__send-contact {
        width: 80%;
        height: 55px;
    }

    .send-contact__input {
        flex-basis: 230px;
    }

    .buttons-group {
        justify-content: center;
    }

    .section__portfolio__filter a {
        font-size: 11px;
    }

    .section__description, .service__hexagon__title {
        font-size: 16px;
    }

    .page__description__left {
        width: 90% !important;
    }
}
