.section__portfolio__filter {
    margin: 50px 0 0 0;
}

.page__description {
    margin-top: 175px !important;
    position: relative;
}

.page__description__text {
    text-transform: lowercase;
}

.page__description__left {
    justify-content: center;
    margin-bottom: 20px;
}

.page__description__hexagon {
    width: 130px;
    height: 140px;
    background: var(--main-bg-gradient);
    transform: rotate(90deg);
}

.page__description__hexagon:hover.service__hexagon:before {
    background: transparent;
}

.portfolio__hexagon__text {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    display: inline-block;
    transform: translate(-50%, -50%) rotate(-90deg);
    text-align: center;
    cursor: pointer;
}

.hx-1, .hx-3 {
    top: -67px;
}

.hx-2, .hx-4 {
    top: 0;
}

@media screen and (max-width: 576px) {
    .hx-0 {
        margin-left: 25px;
    }

    .hx-4 {
        margin-right: 30px;
    }
}